<style>
        #conversation {
            height: 500px;
            border: 1px solid #000;
            margin-bottom: 10px;
            overflow-y: scroll;
            background-color: #424755;
        }
        .container {
            display: flex;
        }

        .container textarea {
            flex: 1;
            margin-right: 10px;
            font-size: 16px;
        }

        .container input[type="submit"] {
            flex-shrink: 0;
            background: #10a37f;
            color: #fff;
            border: 0px;
            padding: 8px 16px;
            font-size: 14px;
            cursor: pointer;
        }
        .user-messages{
            width: 100%;
            padding: 10px;
            background: #343541;
            color: #fff;
        }
        .chatbot-messages{
            width: 100%;
            padding: 10px;
            background: #444655;
            color: #fff;
        }
</style>
